/node_modules
/public/hot
/public/storage
/public/uploads
/public/index.php
/public/.htaccess
/public/robots
/public/favicon
/storage
/vendor


.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
